<!DOCTYPE html>
<html>
<head>
  <title>Juke Pro</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="light-blue" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Juke Pro</a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to current_user.display_name, user_path(current_user) %></li>
        <li><%= link_to 'Sign Out', sign_out_path %></li>
      <% else %>
        <li><%= link_to 'Sign In', '/auth/spotify', id: "top-nav-login" %></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <% if current_user %>
        <li><%= link_to current_user.display_name, user_path(current_user) %></li>
        <li><%= link_to 'Sign Out', sign_out_path %></li>
      <% else %>
        <li><%= link_to 'Sign In', '/auth/spotify', id: "side-nav-login" %></li>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">

  <% if flash[:error] || flash[:warning] %>
    <div class="warning"><%=flash[:warning] if flash[:warning]%></div>
    <div class="error"><%=flash[:error] if flash[:error]%></div>
  <% end %>

  <div class="section">
		<%= yield %>
	</div>
</div>

</body>
</html>
